<div class="col-md-6 offset-md-3 mb-1 ">
  <div class="card">
    <div class="bg-light p-5 rounded">
    <div class="card-header">
      <h1 class="d-flex justify-content-between"><center>{{title}}</center></h1>
    </div>
    <div class="card-body">
      {{#if productes}}
        <ul class="list-group">
          {{#each productes}}
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >nom:
            {{producte}}<br>
            descripcio:
              {{descripcio}}<br>
              foto:
              {{foto}}<br>
              preu:
              {{preu}}€<br>
              <a href="/delete-item/{{@key}}" class="btn btn-danger" onclick="eliminar_producto"()>Delete</a>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <p>No hay productes.</p>
      {{/if}}
    </div>
    <a href="/anadir_producte" class="btn btn-dark">Añadir</a>
    </div>

  </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>